<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-linkbox">
    <a href="#">Go back to top</a>
    <div class="footer-mainlinks">
            <a class="page-link footer-space" href="{{ site.url }}">Home</a>

          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
					    {% unless my_page.exclude %}
                        {% unless my_page.url contains "page" %} <!-- hack to remove other pages of the blog listings -->

            {% if my_page.hard-link %}
                <a class="page-link footer-space" href="{{ my_page.hard-link }}">{{ my_page.title | escape }}</a>
            {% else %}
            <a class="page-link footer-space" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {% endif %}
        {% endunless %}
								{% endunless %}
							{% endif %}
          {% endfor -%}
        </div>
    
  </div>
    <a href="{{ site.url }}"><h2 class="footer-heading">{{ site.title | escape }}</h2></a>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
          <p> &copy; Dedipyaman Das (Twodee) | {{'now' | date: "%s" | minus : 604800 | date: " %Y" | uri_encode | replace:"+","%20"}} </p>
      </div>
    </div>

  </div>

</footer>
