.left, .right {
	max-width: 400px;
	display: inline-block;
}

.more-work {
	border-top: 1px solid gray;
	padding-top: 10px;
	max-width: 100%;
	display: block;
	min-height: 100px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.e-content {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

blockquote {
   font-size: 22px;
}

.pagination {
	font-size: 14px;
}
.smalltext {
	font-size: 14px;
}
.wrapper {
  max-width: 960px;

}

.alt {
	font-family: 'Open sans', serif;
	font-size: 14px;

	padding-right: 10px;
	padding-bottom: 20px;
	color: gray;
}

.h-entry {
	max-width: 640px;
	padding: 5px;
	margin: 0px auto;
}

.h-entry h3 {
  font-weight: bold;
  font-size: 28px;
}
.post-index {
	max-width: 600px;
	display: inline-block;
	float: left;
}
.bigpic {
	text-align: center;
	border-radius: 50%;
}
.category-box {
	width: 170px;
	border: 1px solid #d1d5da;
	border-top: none;
	float: right;
	border-radius: 5px;
	display: inline-block;
	color: #586069;
	font-size: 14px;
}

.category-header {
	padding: 5px;
	background-color: #fafbfc;
	border-top: 1px solid #d1d5da;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

}
.frontboxcontainer {
	margin: 0px auto;
	margin-bottom: 10px;
	padding: 0px;
	text-align: center;
}

.frontbox {
	height: 32px;
		color: #24292e;
	border-top: 1px solid #d1d5da !important;
	border-left: 1px solid #d1d5da !important;
	border-right: 1px solid #d1d5da !important;
	text-align: center;
	margin: 2px;
	list-style: none;
	display: inline-block;
	width: 18%;
	padding-top: 10px;
	border-bottom: 3px solid;
	min-width: 150px;
}
.frontbox:hover {
	border-bottom-color:darkorchid !important;
	color: #000;
}
ul.category-list {
	margin: 0px;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
li.category {
	padding: 5px;
	border-top: 1px solid #d1d5da;
}
.center {
	text-align: center;
}
.project-box {
  font-family: 'Open Sans', sans-serif;
  width: 270px;
  padding: 15px;
  margin: 5px;
  color: #000;
  display: inline-block;
  float: left;
  border: 1px solid #4188EC;
  border-radius: 5px;
  min-height: 230px;
}
.project-box a {
  color: #6a6a6a;
}
.img-container {

  height: auto;
  width: 60px;
  margin: 0px auto;
  padding: 10px;
}
.project-header {
  text-align: center;
  border-bottom-color: #6a6a6a;
  border-bottom: 1px solid;
}
.project-img {
  max-height: 64px;
  max-width: 64px;
}

.green {
  
}

a .footer-heading {
	color: #23222F;
}
.footer-linkbox {
	padding-bottom: 10px;
}
.footer-mainlinks {
	display: inline-block;
	text-align: right;
	float: right;
	
}

.footer-mainlinks a {
	margin: 5px;
	font-size: 14px;
}

.project-description {
  margin-top: 5px;
  font-size: 14px;
}
ul.column {
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  column-count: 4;
  column-gap: 10px;
}

.footnote {

  font-size: 12px;
}
