---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }} | 
        {% for category in page.categories %}
          <a href="/blog/category#{{ category }}"> {{ category }} </a> 
        {% endfor %}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<div class="more-work">
    {% if page.previous %}
        {% assign previous = page.previous %}
    {% else %}
        {% assign previous = false %}
    {% endif %}
    <div class="left">
        <a  href="{{site.baseurl}}{{previous.url}}" title="Previous Post: {{previous.title}}">
            <div style="text-align: right">
                {% if previous %}
                <h4> ← Previous Post </h4>
                <h4> {{previous.title}} </h4>
                {% endif %}
            </div>
        </a>
    </div>

    {% if page.next %}
        {% assign next = page.next %}
    {% else %}
        {% assign last lastPostIndex = site.posts | size | minus: 1 %}
        {% assign next = site.posts[lastPostIndex] %}
    {% endif %}
    <div class="right">
        <a href="{{site.baseurl}}{{next.url}}" title="next Post: {{next.title}}">
            <div>
                <h4> Next Post →</h4>
                <h4> {{next.title}}</h4>
            </div>
        </a>
    </div>
  <p></p>
  <div style="width: 100%"></div>
</div>
<div>
Enjoyed the article? 

{% include social-bar.html %}

Throw in a comment!

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

<div style="margin: 0px auto; margin-top: 30px;  max-width: 800px; padding: 10px;">
<div style="display: inline-block; text-align:center; margin: 10px auto; margin-right: 20px; width: 18%; max-width: 200px; min-width: 80px; float: left"><img class="bigpic" alt="Dedipyaman Das" style="  vertical-align: middle; max-width: 100%" src="{{ "/assets/2d.jpg" | relative_url }}" >
  </div>
  <div style="max-width: 600px; display: inline-block; margin: 0px auto">
    <h2>About The Author</h2>
  <p style=""> Dedipyaman Das is a software developer and a student from India. He writes about software, and has been working on server, desktop, mobile, web development for 8 years. He is also a part time raster graphic artist. Currently, Dedipyaman is a Computer Science undergraduate sophomore.</p>
    </div>

        
</div>
  </div>
<hr>
<p class="footnote">All the views, thoughts, and opinions expressed in the text belong solely to the author, and not necessarily to the author’s employer, organization, committee or other group or individual. </p>

